html {
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
}

h1, h2, h3 {
  color: rgb(171, 94, 55);
  font-weight: bold;
  padding: 0px;
}

.title {
  margin-left: 15px;
}

#blog-title {
  background-color: #F5EBE0;
  height: 24px;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 15px;
  margin: 0;
  color: #666;
  font-size: 20px;
  font-weight: normal;
}

.article-item {
  margin-bottom: 8px;
}

h4 {
  color: #999;
  margin: 25px;
  font-size: 16px;
  font-weight: normal;
}

li {
  color: #222;
}

p {
  margin: 25px;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

#body {
  margin-left: 25px;
  margin-right: 25px;
  line-height: 1.3em;
  font-size: 16px;
}
